{% extends 'app/base.html' %}
{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>
<body>
    {% block register %}
    <section class="vh-100 bg-image"
        style="background-image: url('{% static 'app/images/background.jpeg' %}')">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Đăng nhập</h2>
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="formUsername">Tên người dùng</label>
                                        <input type="text" name="username" id="formUsername" class="form-control form-control-lg" />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="formPassword">Mật khẩu</label>
                                        <div class="input-group">
                                            <input type="password" name="password" id="password" class="form-control form-control-lg" />
                                            <button type="button" id="togglePassword" class="btn btn-outline-secondary">
                                                <i class="far fa-eye-slash"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Đăng nhập</button>
                                    </div>

                                    <p class="text-center text-muted mt-5 mb-0">Bạn không có tài khoản<a href="{% url 'register' %}" class="fw-bold text-body"><u>Đăng ký ngay!</u></a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
    <script>
        const passwordField = document.getElementById('password');
        const togglePasswordButton = document.getElementById('togglePassword');

        togglePasswordButton.addEventListener('click', () => {
            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', type);

            // Thay đổi biểu tượng của nút togglePassword
            if (type === 'password') {
                togglePasswordButton.innerHTML = '<i class="far fa-eye-slash"></i>';
            } else {
                togglePasswordButton.innerHTML = '<i class="far fa-eye"></i>';
            }
        });
    </script>
    {% endblock register %}
</body>
</html>
